<div class = "wrapper">
    <div id = "image">
        <img src = "/img/burger.jpg">
    </div>

    <h1> Burger Palooza </h1>

    <form class = "create-form">
        <div id = "burger-form">
            <p> Are you hungry? We are ready to serve as long as you're ready to devour them! </p>
            <textarea id = "myburger"> </textarea>
            <br>
            <button id = "submit"> Order Now </button>
        </div>
    </form>

    <div id = "burger-list">
        <div id = "not-eaten">
            <h3> Orders are up, devour whenever! </h3>
            {{#each burgers}}
                {{#unless this.devoured}}
                    <div id ="all-burger">
                        <span id ="burger-name"> {{this.id}}. {{this.burger_name}}</span>

                            <form class = "devour-form"> 
                            <button type="submit" id = "devour-btn"> Devour It! </button> <input input type = "hidden" class = "burger_id" type = "text" value = {{this.id}}> <br>
                            </form>

                    </div>
                {{/unless}}
            {{/each}}
        </div>

    {{!-- This is where the Devoured Burgers are shown --}}
        <div id = "eaten">
            <h3> I hope you enjoyed that! </h3>
            {{#each burgers}}
                {{#if this.devoured}}
                    <input class = "form-control" type = "text" placeholder = "{{this.id}} . {{this.burger_name}}" readonly>
                {{/if}}
            {{/each}}
        </div>
    </div>
</div>