<div id = "image">
    <img src = "/img/burger.jpg">
</div>

<h1> Burger Palooza </h1>

<div id = "burger-list">
    <div class = "col-md-6">
        {{#each burgers}}
            {{#unless devoured}}
            <form class = "devour-form" action = "/burgers/devour/{{id}}" method = "POST">
                <div id ="all-burger">
                    <span id ="burger-name"> {{id}}. {{burger_name}}</span>
                    <button type="submit" id = "devour-btn" data-id = "{{id}}"> Devour It! </button>
                </div>
            </form>
            {{/unless}}
        {{/each}}
    </div>

{{!-- This is where the Devoured Burgers are shown --}}
    <div class = "col-md-6">
        {{#each burgers}}
            {{#if this.devoured}}
                <div id = "burgerDone">
                    {{this.id}}. {{this.burger_name}}
                    <p id = "devoured-burger">
                </div>
            {{/if}}
        {{/each}}
    </div>
</div>

<form class = "create-form">
    <div id = "burger-form">
        <textarea id = "myburger"> </textarea>
        <br>
        <button id = "submit"> Order </button>
        <p> Are you hungry? Order some burgers now! </p>
    </div>
</form>